<section class="container-fluid">
<div class="row bg-dark text-white">
  <div class="col-lg-7 p-0">

    <div id="carouselCity" class="carousel slide" data-bs-ride="carousel">
      <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselCity" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselCity" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselCity" data-bs-slide-to="2" aria-label="Slide 3"></button>
      </div>
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img src="https://res.cloudinary.com/dloadb2bx/image/upload/v1619962965/photo-1476362174823-3a23f4aa6d76_uxjtjp.jpg" class="d-block w-100" alt="...">
            <div class="carousel-caption d-none d-md-block">
              <h2 class="display-4">Florence</h2>
            </div>
        </div>
        <div class="carousel-item">
          <img src="https://res.cloudinary.com/dloadb2bx/image/upload/v1619963009/photo-1547448415-e9f5b28e570d_psqcus.jpg" class="d-block w-100" alt="...">
            <div class="carousel-caption d-none d-md-block">
              <h2 class="display-4">Florence</h2>
            </div>
        </div>
        <div class="carousel-item">
          <img src="https://res.cloudinary.com/dloadb2bx/image/upload/v1619963040/photo-1523816572-a1a23d1a67b8_qsjhyi.jpg" class="d-block w-100" alt="...">
            <div class="carousel-caption d-none d-md-block">
              <h2 class="display-4">Dubai</h2>
            </div>
        </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselCity" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselCity" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>

  </div>

  <div class="col-lg-5 p-5">
    <h1 class="display-4">Make your dream travel</h1>
    <p class="lead">The best place to travel and find amazing places. Find your destination right now!</p>
    <form>
      <div class="input-group input-group-lg">
        <input type="text" class="form-control" placeholder="Search for...">
        <span class="input-group-btn input-group-lg">
          <button class="btn btn-primary">Search</button>
        </span>
      </div>
    </form>
  </div>
</div>
</section>
