<section class="container-fluid">
<div class="row bg-dark text-white">
  <div class="col-7">

  </div>

  <div class="col-lg-5 p-4">
    <h1 class="display-4">Make your dream travel</h1>
    <p class="lead">The best place to travel and find amazing places. Find your destination right now!</p>
    <form>
      <div class="input-group input-group-lg">
        <input type="text" class="form-control" placeholder="Search for...">
        <span class="input-group-btn input-group-lg">
          <button class="btn btn-primary">Search</button>
        </span>
      </div>
    </form>
  </div>
</div>
</section>
